<h1> <%= @track.song_title %> </h1>

<p class="lead">
	By: <%= @track.author %>
</p>

<p>
	<% if @track.user_id %>
		Posted by: <%= @track.user.username %>
	<% else %>
		Posted by:
	<% end %>
</p>
<p><%= @track.like_count %> likes </p>

<p>
	<a href="<%= @track.url %>"> <%= @track.url %> </a>
</p>

<p>
	Added on <%= @track.created_at %>
</p>

<p>
	<% if current_user && !allow_new_comment %>
			Please add a review!
			<form action="/reviews" method="post">
				<input type="hidden" name="track_id" value="<%=@track.id%>">
				<textarea class="form-control" rows="4" cols="100" type="text" name="text"></textarea></br>
				Rating:
				<select class="form-control" name="rating">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
				<button class = "button" type="submit">Submit</button>
			</form>
	<% end %>
</p>

<hr/>

	<% @track.reviews.each do |review| %>
		<strong><%= review.user.username%></strong></br> 
		<footer><small>Rating: <%= review.rating %></small></footer></br>
		<p class="lead">"<%= review.text %>" </p>
		 <% if current_user && review.user_id == current_user.id %>
				<form action="/reviews/<%= review.id %>" method="post">
					<input name="_method" type="hidden" value="delete">
       		<button class="button" type="submit">
           	Delete post
       		</button>
				</form>
		<% end %> 
<% end %>

<hr/>
<a href="/tracks">Back to All Tracks</a>